@import "general.css";@import "css/tablet.css") only screen and (min-width: 768px) and (max-width: 991px";@import "css/mobile.css") only screen and (max-width: 767px";@import "device/wide-mobile.css") only screen and (min-width: 480px) and (max-width: 767px";
fieldset {
	border: solid 1px #151515;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 0.5em 1em;
	margin: 1em 0em;
	max-width: 650px;
}
versiyon {
	border: solid 1px #151515;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 0.5em 1em;
	margin: 1em 0em;
	max-width: 300px;
}
altlar {
	border: solid 1px #151515;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 0.5em 1em;
	margin: 1em 0em;
	max-width: 500px;
}